<!-- HOMEPAGE / LANDING PAGE to test the route -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After Club Recipes</title>
</head>
<body>
    <h1>Welcome to the <br> After-the-Club-Deliciously-Devious-Recipes!</h1>
    <h3>An app for creating, reading, updating, and deleting your favorite after-the-club-recipes</p>
   
    <!-- /recipes is a link to our GET REQUEST ROUTE for that list of all recipes page -->
    <a href="/recipes">Browse Recipes</a> &nbsp;

    <!-- /recipes/new is a link to our GET REQUEST ROUTE (because on an anchor tag)   -->
    <a href="/recipes/new">Add New Recipe</a>


</body>
</html>