<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Edit <%= recipe.name %></h1>
    <form action="/recipes" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" />

            <br>
            <br>

            <!-- For this category area, maybe make it a dropdown menu with 7 areas to select from (e.g. italian, snack, main dish, etc) -->
            <label for="category">Category:</label> 
            <!-- <input type="text" name="category" id="category"> -->
            <select name="category" id="category">
                <option value="blank"></option>
                <option value="snacks">Snacks</option>
                <option value="dessert">Dessert</option>
                <option value="main-dish">Main Dish</option>
                <option value="other">Other</option>
            </select>
        
            <br>
            <br>

            <label for="description">Description:</label>
            <input type="text" name="description" id="description">

            <br>
            <br>

            <label for="ingredients">Ingredients:</label>
            <input type="text" name="ingredients" id="ingredients">

            <br>
            <br>

            <label for="instructions">Instructions:</label>
            <input type="text" name="instructions" id="instructions">

            <br>
            <br>

            <label for="isFavoriteRecipe">Is this one of your favorite recipes? If yes, click button:</label>
            <input type="checkbox" name="isFavoriteRecipe" id="isFavoriteRecipe">

            <br>
            <br>

            <label for="isDelicious">Is Delicious?</label>
            <input type="checkbox" name="isDelicious" id="isDelicious">

            <br>
            <br>

            <button type="submit">Add Recipe</button>

        </form>

        <br>

        <a href="/recipes/">Back to Recipes</a> &nbsp;
        <br>
        <a href="/">Back to Homepage</a>

</body>
</html>


