<!-- INDEX PAGE FOR ALL FRUITS -->
<!-- Index page to display all fruits. -->
<!-- There are 2 routes associated with this page. 
One route to handle the html, and one to handle the form. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes Index</title>
</head>
<body>
    <h1>All Recipes</h1>
    <ul>
        <!-- The recipes (all recipes) are passed into the template here with a forEach loop with a dynamic href attribute on the link.-->
        <% recipes.forEach(recipe => { %>
        <li><a href="/recipes/<%= recipe._id %>"><%= recipe.name %></a></li>
        <!-- updating the recipes to become an a href link for show page -->
        <% }); %>
    </ul>

    <a href="/recipes/new">Back to Add New Recipe</a> &nbsp;
    <br>
    <a href="/">Back to Homepage</a>

</body>
</html>