<!-- INDEX PAGE FOR ALL FRUITS -->
 <!-- Index page to display all fruits. -->
  There are 2 routes associated with this page. 
  One route to handle the html, and one to handle the form.

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes Index</title>
</head>
<body>
    <h1>All Recipes</h1>
    <ul>
        <% recipes.forEach(recipe => { %>
        <li><%= recipe.name %></li>
        <% }); %>
    </ul>

</body>
</html>