<!-- CRUD OPERATIONS - CREATE PORTION HERE - 
 Implementing here the ability to add new entries to your database. 
 * Creating a new recipes page where people can add new recipes for the database. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Recipe</title>
</head>
<body>
    <h1>Add A New Recipe!</h1>

    <!-- STARTING TO BUILD A FORM HERE BELOW -->
     <form action="/recipes" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
     </form>

</body>
</html>



<!-- What I need to add in form above:
    name: { type: String, required: true, unique: true},
    category: {type: String, required: true}, //categories like snacks, appetizers, salads, soups, main dishes, desserts, vegan, full-on junk food.
    description: { type: String, required: false},
    ingredients: { type: String, required: true},
    instructions: { type: String, required: true},
    isFavoriteRecipe: { type: Boolean, default: false}, //so can create favorite recipes page of favs go-to
    isDelicious: { type: Boolean, default: false},
});

